section{
    /* flex-direction: column; */
    gap: 50px;
    /* padding: 10% 5%; */
    /* width: 50%; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    margin: 30px;
    display: grid;

}

.logo-break img{
    width: 25px;
    justify-self: center;
    margin: 50px;
}

figure{
    margin: 0px auto;
    border: 0px solid rgb(30,30,30);
    text-align: center;
    max-width: 300px;
    min-width: 200px; */
    cursor: pointer;
    width: 100%;
}

figure img{
    width: 300px;
    /* aspect-ratio: 1/1; */
    border: 1px black solid;
}

figcaption{
    border: 1px rgb(30, 30, 30) solid;
    padding: 10px;
    box-shadow: 0px 4px 10px rgb(100, 150, 235);
}

iframe{
    border-radius: 5px;
    justify-self: center;
}

#myfeed{
    text-align: center;
    /* width: 50%; */
    /* display: grid; */
    grid-template-columns: 1fr;
    /* gap: 50px; */
    height: auto;
    /* overflow-y: scroll; */
    /* border: 1px solid black; */
    /* border-radius: 5px; */
}

.post{
    margin: 50px;
    display: grid;
    gap: 15px;
    height: min-content;
}