/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
@media screen and (max-width: 450px) {
    figure img{
        width: 100%;
    }
    main{
        margin: 25px;
    }
    main section{
        display: grid;
        flex-wrap: wrap;
        flex-direction: row;
        /* gap: 50px; */
        padding: 0px;

    }
}


@media screen and (min-width: 500px) {
    main{
        margin: 50px;
    }
    main section{
        gap: 50px;
        padding: 0px;
    }
    #subpages{
        grid-template-columns: 1fr 1fr;
    }
    #subpages img{
        width: 100%;
    }
}

@media screen and (min-width: 600px){
    
    
    #social-media-nav{
        display: flex;
        float: right;
    }
}

@media screen and (min-width: 800px){
    .logo-break{
        display: none;
    }
    main{
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    #subpages{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1150px){
    #subpages{
        grid-template-columns: 1fr 1fr;
    }
}

/* @media screen and (min-width: 1200px){
    
}*/

@media screen and (min-width: 1350px){
    #subpages{
        grid-template-columns: 1fr 1fr 1fr;
    }
    main{
        margin: 100px;
    }
} 